@font-face{
	font-family: Shabnam;
	src: url("./shabnam-font-v3.0.0/Farsi-Digits-Without-Latin/Shabnam-FD-WOL.ttf");
}

body{
	font-family: Shabnam;
}

div.nav_bar{
	position: fixed;
	z-index: 100;
	min-height:80px;
	width: 100%;
	background-color: white;
	box-shadow: 0px 2px 80px rgba(0,0,0,0.1);
}

#logo_holder{
	
	clear:none;
	height: 100%;
	position: relative;
	top:10px;
	color:#3AD2CB;
}


#logo_link{
	height: 100%;
	color:#3AD2CB;
	display: inline-block;
	width: 100%;
	text-decoration: none;

}

#logo{
	text-align: center;
	vertical-align: middle;
	width:60px;
	height:60px;
}

#name{
	position: relative;
	right:10px;
	display: inline;
	top:5px;
}

#user_area{
	height: 100%;
	position: relative;
	color:rgb(64,51,138);
	height: 80px;
	z-index: 1;
}

#user_area_text{
	top:0px;
	position: relative;
	width: 50%;
	font-size: 20px;
	display: block;
	height: 100%;
}

#user_info{
	background-color: white;
	position: absolute;
	z-index: 101;
	width: 50%;
	height: 200%;
	top:100%;
	right:25%;
	box-shadow: 0px 2px 80px rgba(0,0,0,0.1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	display: none;
	z-index: 101;
}

#user_area:hover{
	cursor: pointer;
}

#user_area_text:hover ~ #user_info ,#user_info:hover {
	display: block;
	cursor: pointer;	
}

#distance{
	position: absolute;
	width: 100%;
	min-height: 250px;
	background-image: url("./img/geometry2.png");
	background-repeat: repeat-x;
	color:#3AD2CB;
}


#title{
	font-weight: bold;
	height: 100%;

}

#adding_area{
	position: absolute;
	width: 100%;
	top:45%;
}

#cur_credit{
	float:right;
	font-size: 20px;
	color:gray;
	display: inline-block;
	line-height: 150%;
}

#credit{
	color:black;
}

#charge{
	min-height: 100px;
	
}

#charge_holder{
	color:gray;
	position: relative;
	width: 100%;
}

#charge_amount{
	float: none;
	border-radius: 5px;
	border-style: solid;
    border-width: 1px;
    width: 60%;
    height: 35px;
    padding:7px;
	border-color: gray;
}

#press_button{
	width: 60%;
    height: 35px;
    border-radius: 5px;
	border:none;
	background-color: #3AD2CB;
	color:white;
	padding:5px;
	box-shadow: 0px 2px 80px rgba(0,0,0,0.1);
}

#press_button:hover{
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
}

#press_button:active{
	box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}

#Toman{
	position: relative;
	left:20%;
}

#footer{
	background-color: rgb(21,72,68);
	position: absolute;
	color:white;
	top:90%;
	min-height: 10%;
	width: 100%;

}

.social{
	width: 20px;
	height: 20px;
}

#user_name{
	color:#4C4C4C;
	position: relative;
	right:15px;
}

#cur_credit_text_user_area{
	color:gray;
	position: relative;
	right:15px;
}

#charge_button{
	position:relative;
	width: 70%;
	height: 20%;
	background-color: #3AD2CB;
	border-radius: 5px;
	color:white;
	border-style: none;
	box-shadow: 0px 2px 80px rgba(0, 0, 0, 0.1);
}
#charge_button:hover{
  box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
}
#charge_button:click{
  box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}